body {
    background-image: url("image/image-fond.JPG");
    background-repeat: no-repeat ; 
    background-attachment: fixed ;
    background-size: cover;
   }

   #card{
    position: absolute;
    top: 15em;
    right: 1%;
    width: 25%;
   }